<mat-card class="profile-card">
  <mat-card-header>
    <mat-card-title style="margin-bottom: 16px;">My Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="profileForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Fist Name" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="State" formControlName="state" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="City" formControlName="city" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Street" formControlName="street" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Zip Code" formControlName="zipCode" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions style="justify-content: center; margin-bottom: 8px;">
    <button mat-stroked-button color="primary" (click)="updateProfile()">
      Save Changes
    </button>
  </mat-card-actions>
</mat-card>
