<div class="header-section">
  <h1>Restaurants and more, delivered to your door</h1>
  <h4>Find your favorite food and order online.</h4>
  <form>
    <mat-form-field id="search">
      <!-- <mat-icon color="primary" matAffix>add_location</mat-icon> -->
      <input
        matInput
        type="text"
        (keyup)="update(inputReference.value)"
        placeholder="Enter delivery address"
        #inputReference
        maxlength="5"
        style="color: #eb1700;"
      />
      <mat-icon
        style="margin: 4px"
        id="search_icon"
        routerLink="/restaurant/{{ zipCode }}"
        matSuffix
        >arrow_forward</mat-icon
      >
    </mat-form-field>
  </form>
</div>

<div class="categories-section">
  <h2>Categories</h2>

  <!-- <mat-nav-list>
    <mat-list-item
      *ngFor="let category of categories"
      (click)="selectCategory(category)"
    >
      <mat-icon
        id="cat_icon"
        mat-list-icon
        [ngClass]="{ 'active-category': selectedCategory === category }"
        >{{ category.icon }}</mat-icon
      >
      <h4
        mat-line
        [ngClass]="{ 'active-category': selectedCategory === category }"
      >
        {{ category.name }}
      </h4>
    </mat-list-item>
  </mat-nav-list> -->

  <mat-chip-listbox>
    <mat-chip-option *ngFor="let category of categories; let i=index"
        (click)="selectCategory(category)" [selected]="i===0">
        {{ category.name }}
    </mat-chip-option>
  </mat-chip-listbox>

  <!-- <div class="categories-container">
    <mat-card
      *ngFor="let restaurant of restaurants"
      routerLink="/restaurant/store/{{ restaurant._id }}"
    >
      <mat-card-header>
        <img mat-card-avatar [src]="restaurant.picture.logoUrl" />
        <mat-card-title>{{ restaurant.name }}</mat-card-title>
        <mat-card-subtitle>{{ restaurant.cuisine }}</mat-card-subtitle>
        <mat-card-subtitle>{{ restaurant.rating }} stars</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img id="banner" mat-card-image [src]="restaurant.picture.imageUrl" />
        <p>{{ restaurant.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>  -->
</div>

<!-- <div class="categories-container">
  <div class="restaurant" *ngFor="let restaurant of restaurants"
    routerLink="/restaurant/store/{{ restaurant._id }}">

    <a href="#">
      <img mat-card-avatar [src]="restaurant.picture.logoUrl" />
      <mat-card-subtitle>{{ restaurant.cuisine }}</mat-card-subtitle>
      <mat-card-subtitle>{{ restaurant.rating }} stars</mat-card-subtitle>

      <div class="hero-image">
        <img id="banner" [src]="restaurant.picture.imageUrl" />
      </div>
      <strong>{{ restaurant.name }}</strong>
      <p>{{ restaurant.description }}</p>

    </a>

    </div>
</div> -->

<div class="menu-gallery">
  <div class="menu-item" *ngFor="let restaurant of restaurants" routerLink="/restaurant/store/{{ restaurant._id }}">
    <img src="{{restaurant.picture.imageUrl}}">
    <div class="restaurant-text">
      <h2>{{restaurant.name}}</h2>
      <p>{{restaurant.description}}</p>
    </div>
  </div>
</div>

