:host {
  padding: 10px;
}

.container  {
  max-width: 700px;
  margin: 20px auto;
}

.order-item {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 16px;
  margin-bottom: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.button {
  margin-right: 8px;
  background-color: rgb(231, 231, 231);
  color: rgb(25, 25, 25);
  border-radius: 20px;
}
